
:root{
	
	--MAIN-TEXT-color:#ffffff; /* Color of text by default */
	--MAIN-TITLES-TEXT-color: #466eff; /* Color of titles h2-h3-h4-h5 */
	--MAIN-LINK-color:#ffd200; /* Color of links */
	--MAIN-LINK-HOVER-color:#ff447d; /* Color of hovered links */
	--MAIN-ANCHOR-color: #ffd200; /* color of anchors on titles */

	--MENU-HEADER-BG-color:#466eff; /* Background color of menu header */
	--MENU-HEADER-BORDER-color:#ffd200; /*Color of menu header border */ 

	--MENU-SEARCH-BG-color:#0000005d; /* Search field background color (by default borders + icons) */
	--MENU-SEARCH-BOX-color: #ffd200; /* Override search field border color */
	--MENU-SEARCH-BOX-ICONS-color: #ffd200; /* Override search field icons color */

	--MENU-SECTIONS-ACTIVE-BG-color:#252525; /* Background color of the active section and its childs */
	--MENU-SECTIONS-BG-color:#2e333f; /* Background color of other sections */
	--MENU-SECTIONS-LINK-color: #466eff; /* Color of links in menu */
	--MENU-SECTIONS-LINK-HOVER-color: #ffd200;  /* Color of links in menu, when hovered */
	--MENU-SECTION-ACTIVE-CATEGORY-color: #ffffff; /* Color of active category text */
	--MENU-SECTION-ACTIVE-CATEGORY-BG-color: #ffd200; /* Color of background for the active category (only) */

	--MENU-VISITED-color: #ffd200; /* Color of 'page visited' icons in menu */
	--MENU-SECTION-HR-color: #ffd200; /* Color of <hr> separator in menu */
	
	--BODY-BACKGROUND-color: #303030;
	--TR-EVEN-BACKGROUND-color:#466eff20;
}

body {
	background-color: var(--BODY-BACKGROUND-color);
	color: var(--MAIN-TEXT-color) !important;
	font-size: 20px !important;
	font-family: "Maven Pro", "Work Sans", sans-serif;
	font-weight: 400;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
	border-color: none;
	box-shadow: none;
}

h1 {
	color: var(--MAIN-TITLES-TEXT-color);
	font-family: "Maven Pro", "Work Sans", sans-serif;
	font-weight: 400;
	text-transform: none;
}

h2, h3, h4, h5 {
	color: var(--MAIN-TITLES-TEXT-color) !important;
	font-family: "Maven Pro", "Work Sans", sans-serif;
	font-weight: 700;
}


h2 > em, h3 > em, h4 > em, h5 > em {
	font-weight: 400;
}


hr {
	border-bottom: 1px solid var(--MENU-HEADER-BORDER-color)
}

table {
	table-layout: auto;
	width: auto;
	border-color: var(--MENU-HEADER-BG-color);
}

th {
	background-color: var(--MENU-HEADER-BG-color);
}

tr:nth-child(even){
	background-color: var(--TR-EVEN-BACKGROUND-color);
}

td {
	border-color: var(--MENU-HEADER-BG-color);
}

td span.copy-to-clipboard {
	visibility: hidden;
	width: 0;
}

a {
	color: var(--MAIN-LINK-color);
	font-weight: 600;
}

.anchor {
	color: var(--MAIN-ANCHOR-color);
}

a:hover {
	color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
	display: block;
	content: "";
	height: 1px;
	width: 0%;
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	-ms-transition: width 0.5s ease;
	transition: width 0.5s ease;
	background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
	font-family: "Maven Pro", "Work Sans", sans-serif;
	font-weight: 40;
	border-right: var(--MENU-HEADER-BORDER-color) 4px solid;
	border-radius: 0px 30px 0px 0px;
}
#sidebar #header-wrapper {
	background: var(--MENU-HEADER-BG-color);
	color: var(--MENU-SEARCH-BOX-color);
	border-color: var(--MENU-HEADER-BORDER-color);
	border-radius: 0px 30px 0px 10px;
}
#sidebar #menu-vertical-bar {
	height: 100%;
	background-color:var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
	float: right;
	width: 4px;
	left: 300px;
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
	background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
	background: var(--MENU-SECTIONS-ACTIVE-BG-color);
	border-radius: 15px 0px 0 15px;
}
#sidebar .searchbox * {
	color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
	color: var(--MENU-SECTIONS-LINK-color);
	font-family: "Maven Pro", "Work Sans", sans-serif;
	font-weight: 400 !important;
}

#sidebar a:hover {
	color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
	background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
	color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
	border-radius: 10px 0 0 10px;
	font-family: "Maven Pro", "Work Sans", sans-serif;
	font-weight: 700 !important;
}

#sidebar hr {
	border-color: var(--MENU-SECTION-HR-color);
}

#top-bar {
	background: #252525;
	border-radius: 5px;
}
 
#sidebar .collapsible {
	float: right;
	font-size: 24px;
	background-color: transparent;
	font-family: "Maven Pro", "Work Sans", sans-serif;
}

#sidebar .collapsible:hover {
	background-color: var(--MAIN-LINK-color);
}
